<div class="d-flex justify-content-between mb-3">
  <a href="/modulos/inventario" role="button" style="text-decoration: none;"> <i
      class="fa-solid fa-chevron-left"></i>atras</a>
  <button type="button" class="btn btn-success btn-sm " onclick="imprimirContenido()">
    <i class="fas fa-edit"></i>
    Imprimir tabla
  </button>
</div>






<div class="d-flex justify-content-end mb-3" >
  <h3><b>Stock:</b>  {{monto}}  </h3>
</div>
<div>
  <h1 class="titulo">Detalle de movimientos</h1>
</div>



<div class="mt-4  table-responsive" id="contenido-a-imprimir">
  <table id="userTable" class="table">
    <thead>
      <tr class="mt-4">
        <th>Fecha</th>
        <th>Tipo de operacion</th>
        <th>Cantidad</th>
        <th>Stock</th>
        <th>Usuario</th>
        <th>Detalle</th>

      </tr>
    </thead>

    <tbody>
      {{#each operaciones}}
      <tr>

        <td>{{createdAt}}</td>
        <td>{{tipooperacion}}</td>
        <td>{{cantidad}}</td>
        <td>{{cantidadactual}}</td>
        <td>{{idusuario.name}}</td>
        <td>{{detalle}}</td>

      </tr>
      {{/each}}
    </tbody>
  </table>
</div>






<style>
  @media print {
    body * {
      visibility: hidden;
    }

    #contenido-a-imprimir,
    #contenido-a-imprimir * {
      visibility: visible;
    }

    #contenido-a-imprimir {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
</style>






<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function () {
    $('#userTable').DataTable();
  });
  function imprimirContenido() {
    window.print();
  }

</script>